Flask
Flask-Cors
python-dotenv
openai-whisper
transformers
torch --index-url https://download.pytorch.org/whl/cpu
torchaudio --index-url https://download.pytorch.org/whl/cpu
google-genai
ffmpeg-python
numpy
edge-tts